body{
    width: 1440px;
    height: 1024px;
    margin: 0;
    background-image: url(imatges/unsplash_cm0eSVxdLDg.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Roboto Mono", monospace;
}

/* Container */

.container-slave{
    display:flex;
    justify-content: space-between;
     
}

/* Text */

.text-title{
    margin-top: 150px;
    margin-right: 50px;
    margin-bottom: 0;
}

.text-p{
    font-weight: 1000px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: right;
    width: 800px;
    color: aliceblue; 
    margin-left: 45px;
    
}


.Title{
font-weight: 700px;
font-size: 60px;
line-height: 76px;
letter-spacing: 0%;
text-align: right;
width: 800px;
color: aliceblue;
margin-left: 50px;
margin-top: 100px;
}


/* button */

.button1 {
    width: 258px;
    height: 66px;
    gap: 10px;
    padding-top: 24px;
    padding-right: 56px;
    padding-bottom: 24px;
    padding-left: 56px;
    border-radius: 40px;
    margin-left: 580px;
    font-weight: bold;
    font-size: larger;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center; 
}
  

  


/* iconos */

.social-icons {
    display: flex; 
    flex-direction: column;
    gap: 50px; 
    margin-top: 340px; 
    align-items: center; 
    margin-left: 50px;
}


.vector img{
width: 40px;
height: 40px;
top: 376px;
left: 66px;
gap: 48px;

}

/* Boxes */

.DownPartBox {
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 210px;
    margin-left: 60px;

    

}

.text-down {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    color: aliceblue;
    width: 500px;
}

.text-down img {
    height: auto; 
}

.text-down p {
    margin: 0; 
}
