body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
  
}
/* Container  */
.container-master{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    background: transparent; 
}

/* Background img */
.content {
    width: 1440px;
    height: 1024px;
    background-color: #0D0F1B; 
    background-image: url(imatges/unsplash_jSAb1ifwf8Y.png);
    background-repeat: no-repeat;
    background-position: 80px 5px;
    box-sizing: border-box;
}

.block-text {
    position: relative;
    top: 130px; 
    left: 90px;
    color: aliceblue;
}

.content-h1{
    font-size: 90px;
    width: 600px;
}

.content-text{
    font-size: 22px;
    width: 480px;
}

button{
width: 200px;
height: 64px;
gap: 10px;
border-radius: 16px;
font-size: 20px;
}

.box-three{
    display: flex;
    justify-content: center;
    gap: 70px;
    position: relative;
    top: -300px;
    right: -19px;
    color:aliceblue ;

}


.item-box{
    width: 390px;
    height: 232px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.125) 68.53%);

}


.item-h3{
    font-size: 32px;
    margin-left: 40px;
    
}

.item-p{
    width: 300px;
    font-size: 25px;
    margin-left: 40px;

}