body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    background: transparent; 
}

/* Background img */
.content {
    width: 1440px;
    height: 1024px;
    background-color: #0D0F1B; 
    background-image: url(imatges/unsplash_jSAb1ifwf8Y.png);
    background-repeat: no-repeat;
    background-position: 80px 5px;
    box-sizing: border-box;
}



.sub-content {
    color: white;
    flex-direction: column;
    position: absolute; 
    top: 35%; 
    left: 30%; 
    right: 20%;
    transform: translate(-50%, -50%); 
   
}

/* Text */


.box-main{
    display: flex;
    gap: 30px;
}


.content-h1{
    font-size: 88px;
    width: 700px;
    margin-bottom: 20px;
}

.content-text{
    font-size: 24px;
    width: 500px;
    margin-top: 1px;
    x
}

button{
width: 216;
height: 66;
gap: 10px;
border-radius: 16px;
padding-top: 24px;
padding-right: 48px;
padding-bottom: 24px;
padding-left: 48px;
margin-top: 20px;
}

.content-btn{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0%;
    
    }


/* boxes */

.item-box {
    width: 388px;
    height: 235px;
    border-radius: 16px;
    background-color: #49494980;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    position: relative; 
    top: -319px; 
    left: 68px;
    margin: 15px; 
    color: white;
}

.item-box {
    display: flex;
    align-items: center;    
    justify-content: center; 
    
}


.sub-box p {
    text-align:initial; 
    width: 300px;
    font-size: 24px;
}

